@function to-string($value: '') {
  @return inspect($value);
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function map-has-keys($map, $keys...) {
  @each $key in $keys {
    @if map-has-key($map, $key) == false {
      @return false;
    }
    $map: map-get($map, $key);
  }
  @return true;
}

@function font-size($Size: 'base', $TextConfig: $text) {
  @if $Size == '' {
    $Size: 'base'
  }
  @if map-has-keys($TextConfig, 'size', $Size) {
    @return map-deep-get($TextConfig, 'size', $Size);
  }
  @else {
    @error " ⚠ '#{$Size}' could be retrieved from font-size() !! ";
  }
}

@function font-weight($Weight: 'regular', $TextConfig: $text) {
  @if $Weight == '' {
    $Weight: 'regular'
  }
  @if map-has-keys($TextConfig, 'weight', $Weight) {
    @return map-deep-get($TextConfig, 'weight', $Weight);
  }
  @else {
    @error " ⚠ '#{$Weight}' could be retrieved from font-weight() !! ";
  }
}


@function getColor($Color, $Category, $Type: null, $ColorSet: $colorSet ) {
  $result: #fff;
  $Category: to-string($Category);

  @if $Type == null {
    @if map-has-keys($ColorSet, $Color, $Category) {
      $result: map-deep-get($ColorSet, $Color, $Category);
    }
    @else {
      @error " ⚠ no value could be retrieved from getColor('#{$Color}', '#{$Category}'). ";
    }
  }
  @else {
    $Type: to-string($Type);
    @if map-has-keys($ColorSet, $Color, $Category, $Type) {
      $result: map-deep-get($ColorSet, $Color, $Category, $Type);
    }
    @else {
      @error " ⚠ no value could be retrieved from getColor('#{$Color}', '#{$Category}', '#{$Type}'). ";
    }
  }
  @return $result;
}